<h2>All Posts - InfoTokri</h2>

<div dir="ltr" style="text-align: left;" trbidi="on"><script>
function allpoststitle(json){
var numposts = 999;
for (var i = 0; i < numposts; i++) {
var entry = json.feed.entry[i];
  console.log(entry);
    var posttitle = entry.title.$t;
    var posturl;
    //if (i == json.feed.entry.length) break;
    for (var k = 0; k < entry.link.length; k++) {
      if (entry.link[k].rel == 'alternate') {
        posturl = entry.link[k].href;
        break;
      }
    }
    posttitle = posttitle.link(posturl);
document.write('<p class="postlink">' + posttitle + '</p>');
}
}// end of allpoststitle()
</script><br />
<script src="https://www.infotokri.in/feeds/posts/default?max-results=999&amp;orderby=published&amp;alt=json-in-script&amp;callback=allpoststitle"></script><br />
<style type=text/css>
.postlink {border-bottom: 1px #cccccc dotted; }
.postmeta-primary{display:none;}
</style><br />
</div>